@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&display=swap');

:root {
    --ds-color: #191a1f;
    --key-bg-color: #24262c;
    --buttons-color: #26282e;
    --text-color: #e4e4e4;
    --clear-color: #80c7bf;
    --operators-color: #ff7d88;   
}

body {
    color: var(--text-color);
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--buttons-color);
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 15px;
}

#frame {
    height: calc(100vh - 150px);
    width: calc(100vh - 470px);
    margin: 75px auto 0 auto;
}

#display {
    background-color: var(--ds-color);
    width: 100%;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: -10;
}

p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    font-weight: 200;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

#ds {
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 50px;
}

#control {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: var(--key-bg-color);
    margin: -30px auto 0 auto;
}

#controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    width: calc(100% - 50px);
    height: 45px;
    padding-top: 40px;
    margin: auto;
}

#controls button {
    color: var(--clear-color);
}

#operation {
    color: var(--operators-color);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: calc(100% - 50px);
    margin: 10px auto 0 auto;
    padding-bottom: 20px;
    height: calc(100vh - 550px);
}